flows.json
[
    {
        "id": "20832317de6ef4c0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67cb57fa65dca47a",
        "type": "ui_button",
        "z": "20832317de6ef4c0",
        "name": "",
        "group": "30888ef5052bacd7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGAR LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "1acb90de27b476da",
                "0847e6951f528514"
            ]
        ]
    },
    {
        "id": "206d4267147edb6b",
        "type": "ui_button",
        "z": "20832317de6ef4c0",
        "name": "",
        "group": "30888ef5052bacd7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DESLIGAR LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "1acb90de27b476da",
                "c02d41c8914f2796"
            ]
        ]
    },
    {
        "id": "1acb90de27b476da",
        "type": "arduino out",
        "z": "20832317de6ef4c0",
        "name": "LED",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "0c21d6e134060f0c",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "0460578247f6a692",
        "type": "ui_gauge",
        "z": "20832317de6ef4c0",
        "name": "",
        "group": "30888ef5052bacd7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LED VERMELHO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "c02d41c8914f2796",
        "type": "change",
        "z": "20832317de6ef4c0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "0460578247f6a692"
            ]
        ]
    },
    {
        "id": "0847e6951f528514",
        "type": "change",
        "z": "20832317de6ef4c0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "0460578247f6a692"
            ]
        ]
    },
    {
        "id": "30888ef5052bacd7",
        "type": "ui_group",
        "name": "curso Iot",
        "tab": "cb29f7bef5efa224",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c21d6e134060f0c",
        "type": "arduino-board",
        "device": "COM3"
    },
    {
        "id": "cb29f7bef5efa224",
        "type": "ui_tab",
        "name": "laboratorio",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]